#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


p {
  color: white;
}

.HomeFeed {
  display: grid;
  align-items: center;
  justify-content: center;
  justify-items: center;
}

.Post {
  border-radius: 10px;
  border: 1px solid transparent;
  border-color: white;
  margin:  10px;
  width: 500px;
}

.postButton, .navButton, .submitButton, .deleteButton, .sortButton {
  margin: 10px;
}

.sortButton {
  width: 150px;
}

.searchInput {
  width: 500px;
}

.sortButtonGroup {
  display: block;
}